sat extension update

A colleague of mine discovered that the sat extension within pystac is not up-to-date with the current sat extension as specified here: 
https://github.com/stac-extensions/sat#item-properties

The following items could be added: 

Field Name | Type | Description
-- | -- | --
sat:platform_international_designator | string | The International Designator, also known as COSPAR ID, and NSSDCA ID
sat:absolute_orbit | integer | The obsolute orbit number at the time of acquisition.
sat:anx_datetime | string | The Ascending Node Crossing (ANX) time, in UTC. It is formatted according to RFC 3339, section 5.6.

So far we fill in the properties dictionary directly. Eventually we can contribute here in the next weeks. 

Thanks for reporting this @jonas-eberle! We'll plan on updating this ahead of the 1.0.0 release.